.wrapper {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  font-family: "GoogleSans", Arial, Helvetica, sans-serif;
}

.card {
  overflow: hidden;

  max-width: 768px;
  min-height: 500px;
  margin: 70px auto;
  padding: 20px;

  border-radius: 2px;

  background: #f4f5f7;
}

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.header-left {
  display: flex;
  flex-direction: column;

  width: 80%;
}

.header-right {
  border-radius: 50%;
}

.header-left .header-title {
  width: 100%;

  border: none;
  background-color: #f4f5f7;
  box-shadow: none;

  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.header-status {
  display: inline-flex;
  align-items: center;
  justify-content: baseline;

  color: #5e6c84;

  font-size: 16px;
}

.header-status_span {
  margin: 0 10px 0 5px;

  cursor: pointer;

  border-bottom: 1px solid;
}

.header-status_span:hover {
  color: #172b4d;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;

  margin-bottom: 30px;
}

.info-container {
  min-width: 500px;
  margin-right: 30px;
}

.info-users {
  margin-right: 30px;
}

.info-users_title,
.info-term_title {
  margin-bottom: 5px;

  color: #5e6c84;

  font-size: 14px;
  font-weight: 500;
}

.info-users_name {
  padding: 3px;
}

.info-users_name:hover {
  cursor: pointer;

  background-color: rgba(9, 30, 66, 0.205);
}

.info-term_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-term_date {
  display: inline-flex;

  padding: 6px 12px;

  cursor: pointer;

  border-radius: 3px;
  background-color: rgba(9, 30, 66, 0.04);
}

.info-term_date:hover {
  background-color: rgba(9, 30, 66, 0.205);
}

.info-description_wrapper,
.info-comment_wrapper {
  margin-bottom: 15px;
}

.info-description_title,
.info-comment_title {
  margin-right: 10px;

  font-size: 17px;
  font-weight: 600;
}

.info-description_input {
  width: 100%;
  margin: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background-color: #ebebeb;
}

.info-comment_input {
  width: 100%;
  margin: 0;

  cursor: pointer;
}

.action {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.action:last-child {
  margin-bottom: 0;
}

.action-title {
  margin-bottom: 5px;

  color: #5e6c84;

  font-size: 14px;
  font-weight: 500;
}

.action-button {
  justify-content: left;

  margin-bottom: 7px;

  list-style-type: none;

  color: #4f5c74;
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }

  .card {
    margin: 10px;
  }

  .info-wrapper {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
  }

  .info-term_wrapper {
    justify-content: unset;
  }

  .action-container {
    display: flex;
  }

  .info-description_input {
    width: 80vw;
  }

  .info-comment_input {
    width: 80vw;
  }
}
