@import url('./normolize.css');
@import url('../fonts/icomoon/style.css');
@import url('../fonts/icomoon/fonts/button/button_icon_style.css');
@import url('./fonts.css');

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	max-width: 1200px;
	margin: 0 auto;

	white-space: nowrap;

	color: #172B4D;
	background: url(/src/img/water-1.jpg);
	background-size: cover;

	font-family: 'GoogleSans', Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 400;
}